<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css">
    <title>Profile</title>
</head>
<body>
    <div id="container">
        <h1>SHIKISO</h1>
        <h1>SHIKISO</h1>
        <h1>SHIKISO</h1>
    </div>

    <div id="information">
        <div id="about">
            <h3>Name: Shikiso</h3>
            <h3>Age: Private</h3>
            <h3>Languages: Python, C, HTML, CSS, JS</h3>
        </div>
        <hr id="divider">
        <div id="contact">
            <h3>GitHub: <a href="https://github.com/Shikiso">Shikiso</a></h3>
            <h3>Email: gmail.com</h3>
            <h3>Discord: _shikiso</h3>
        </div>
    </div>

</body>
</html>