<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css">
    <title>Profile</title>
</head>
<body>
    <div id="container">
        <h1>SHIKISO</h1>
        <h1>SHIKISO</h1>
        <h1>SHIKISO</h1>
    </div>

    <div id="information">
        <div id="about">
            <h3>Name: Shikiso</h3>
            <h3>Languages: Python and C</h3>
            <h3>I'm interested in Cyber Security, low level programming and reverse engineering.</h3>
        </div>
        <hr id="divider">
        <div id="contact">
            <h3>GitHub: <a href="https://github.com/Shikiso">Shikiso</a></h3>
            <h3>Email: shikiso59@gmail.com</h3>
            <h3>Discord: <a href="https://discordapp.com/users/964887596754944100">_shikiso</a></h3>
        </div>
        <hr id="divider">
        <div id="projects">
            <h2>Projects</h2>
            <h3><a href="https://github.com/Shikiso/Cyber-Sec-Notes/blob/main/README.md">Cyber-Sec-Notes</a>: Notes, resources and gudies I have made or found while studying.</h3>
            <h3><a href="https://github.com/Shikiso/ChatRoom">Chat Room</a>: A simple chat room I made in C.</h3>
        </div>
    </div>

</body>
</html>
